<div class="container">
  <div class="row">
    <div class="card horizontal">
      <div class="card-image">
        <img ng-src="{{SC.OmdbSearch.movie.Poster}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Title: {{SC.OmdbSearch.movie.Title}}</p>
          <p>Year: {{SC.OmdbSearch.movie.Year}}</p>
          <p>Rated: {{SC.OmdbSearch.movie.Rated}}</p>
          <p>Released: {{SC.OmdbSearch.movie.Released}}</p>
          <p>Runtime: {{SC.OmdbSearch.movie.Runtime}}</p>
          <p>Director: {{SC.OmdbSearch.movie.Director}}</p>
          <p>Writer: {{SC.OmdbSearch.movie.Writer}}</p>
          <p>Actors: {{SC.OmdbSearch.movie.Actors}}</p>
          <p>Plot: {{SC.OmdbSearch.movie.Plot}}</p>
          <p>Metascore: {{SC.OmdbSearch.movie.Metascore}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
