<div class="container">
  <div class="row">
    <div class="card horizontal">
      <div class="card-image">
        <img ng-src="{{SC.OmdbSearch.movie.Poster}}">
      </div>
      <div class="card-stacked">
        <div class="card-content" id="movie-card-content">
          <p><strong>Title:</strong> {{SC.OmdbSearch.movie.Title}}</p>
          <div class="divider"></div>
          <p><strong>Year:</strong> {{SC.OmdbSearch.movie.Year}}</p>
          <p><strong>Rated:</strong> {{SC.OmdbSearch.movie.Rated}}</p>
          <p><strong>Released:</strong> {{SC.OmdbSearch.movie.Released}}</p>
          <p><strong>Runtime:</strong> {{SC.OmdbSearch.movie.Runtime}}</p>
          <p><strong>Metascore:</strong> {{SC.OmdbSearch.movie.Metascore}}</p>
          <div class="divider"></div>
          <p><strong>Director:</strong> {{SC.OmdbSearch.movie.Director}}</p>
          <p><strong>Writer:</strong> {{SC.OmdbSearch.movie.Writer}}</p>
          <p><strong>Actors:</strong> {{SC.OmdbSearch.movie.Actors}}</p>
          <div class="divider"></div>
          <p><strong>Plot:</strong> {{SC.OmdbSearch.movie.Plot}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
