<div class="container">
  <div class="row">
    <div class="card horizontal">
      <div class="card-image" style="border-right:1px solid lightgrey">
        <img ng-src="{{SC.OmdbSearch.movie.Poster}}" style="width:100%;">
      </div>
      <div class="card-stacked">
        <div class="card-content" id="movie-card-content">
          <div class="row">
            <div class="col s12" style="margin-bottom:0 !important">
              <h3>{{SC.OmdbSearch.movie.Title}}</h3>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row" style="margin-bottom:0 !important">
            <div class="col s3" style="margin-bottom: 0 !important">
              <p><strong>Year:</strong> {{SC.OmdbSearch.movie.Year}}</p>
              <p><strong>Rated:</strong> {{SC.OmdbSearch.movie.Rated}}</p>
              <p><strong>Released:</strong> {{SC.OmdbSearch.movie.Released}}</p>
              <p><strong>Runtime:</strong> {{SC.OmdbSearch.movie.Runtime}}</p>
              <p><strong>Metascore:</strong> {{SC.OmdbSearch.movie.Metascore}}</p>
            </div>
            <div class="col s9">
              <p><strong>Director:</strong> {{SC.OmdbSearch.movie.Director}}</p>
              <p><strong>Writer:</strong> {{SC.OmdbSearch.movie.Writer}}</p>
              <p><strong>Actors:</strong> {{SC.OmdbSearch.movie.Actors}}</p>
              <p><strong>Awards:</strong> {{SC.OmdbSearch.movie.Awards}}</p>
            </div>
          </div>
          <div class="divider"></div>
          <p style="margin-bottom:0 !important"><strong>Plot:</strong> {{SC.OmdbSearch.movie.Plot}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
